.heroes-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 25px;
  margin-bottom: 55px;
}

.heroes-list-title{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 35px;
  font-size: 50px;
}


