.properties-container{
    display: grid;
    grid-template-columns: 23% auto;
}
.side-menu{
    position: relative;
}
.content{
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
}
.map-container{
  position: relative;
  width: 40%;
  height: 40vh;
  border: 1px solid gray;
  box-shadow: 5px 5px 3px gray;
}
.map-container h2{
  margin-top: 268px;
  margin-left: 15px;
  margin-right: 15px;
}
.map-container div{
  margin-left: 15px;
  margin-right: 15px;
}
