li{ cursor: pointer;}

.selected{
    color: white !important;
}

.navbar-list-countries{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: blue;
}

.navbar-nav li {
  margin-top: 8px;
}

@media(width < 999px){
  .navbar-list-countries{
    flex-direction: column;
  }
}
