.mat-mdc-form-field{
  display: inline;
  margin-top: 50px;
}

.search-hero-container{
  margin-top: 50px;
}

.text-error{
  color: red;
}

.heroes-search-title{
  text-align: center;
  margin-top: 35px;
  margin-bottom: 55px;
  font-size: 50px;
}

