
.layout-container{
  min-height: 70vh;
}

@media(width < 1000px){
  .layout-container{
    display: flex;
    flex-direction: column;
  }
  .sidebar{
    width: 100%;
  }
  .content{
    width: 100%;
  }
}
