<div class="hero-container">
  @if (!hero) {
  <div class="spinner-container">
    <mat-spinner></mat-spinner>
  </div>
  }@else {
  <div>
    <img mat-card-image [src]="hero | heroImageUrlPipe" [alt]="hero.superhero">
  </div>
  <div class="hero-info-container">
    <div>
      <h1>{{hero.superhero}}</h1>
      <mat-divider></mat-divider>
      <h3>{{hero.alter_ego}}</h3>
    </div>

    <p><span>Publisher:</span> &nbsp; &nbsp;{{hero.publisher}}</p>
    <p><span>First appearance:</span> &nbsp; &nbsp;{{ hero.first_appearance }}</p>
    <p>
      <mat-chip-listbox>

        @for (character of hero.characters.split(','); track $index) {
        <mat-chip>
          {{character}}
        </mat-chip>
        }

      </mat-chip-listbox>
    </p>

    <button mat-button (click)="goBack()">
      <mat-icon mat-raised color="primary">arrow_back</mat-icon>
      Go list
    </button>
  </div>
  }
</div>