h1{
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 50px;
}

.new-hero-container{
  display: flex;
  gap: 55px;
}

.hero-info-container{
  display: flex;
  flex-direction: column;
}

.full-width{
  width: 100%;
}

.save-button{
  margin-bottom: 15px;
}

.buttons-group{
  display: flex;
  justify-content: space-between;
}

.text-error{
  color: red;
}


@media (width < 1000px){
  .new-hero-container{
    flex-direction: column;
  }
  img{
    width: 100%;
  }
}
